
body
  #grid
    :margin 0 auto
    :background #FFF
    :padding 0
    #header
      :text-align center
      :width 100%
      :height 4em
      :font-size 1em
      :margin 1em auto 0
      h1
        :background #fff url(/images/logo.png) no-repeat left
        :text-indent -99999em
        :width 6.2em
        :height 1em
        :float left
        :margin-left .5em
      .login
        :float right
        :margin-right .5em
    #content
      :background= !page_color
      :padding 1em
      h1
        :background #FC0 url(/images/bac.png) no-repeat bottom left
        :height 3em
        :margin 0 -.45em 0 -2.25em
        :padding 1em
      .post
        :background #ff7f2a url(/images/bac.png) no-repeat bottom left
        :margin 0 -1em 0 -4.9em
        :padding 1em
        :height 10em
        :position relative
        &.twitter
          :background-color #3CF
        &.facebook
          :background-color #0152a1
        &.blog
          :background-color #ff7f2a
        &.event
          :background-color #FC0
        h1
          :background none
          :height auto
          :margin 0
          :padding 0
          :font-size 1.8em
          :color #333
        img.avatar
          :float left
          :margin 0 1em 0 0
        .service_icon
          :position absolute
          :right 1em
          :top 1em
          :width 6em
          :height 2em
          &.twitter
            :background url(/images/twitter.png) no-repeat center
            :text-indent -999em

      #page
        .main
      .main,
      .rail,
      .page,
      .full_page,
      .column
