<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Url</th>
    <th>Username</th>
    <th>Password</th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%=h account.type %></td>
    <td><%=h account.url %></td>
    <td><%=h account.username %></td>
    <td><%=h account.password %></td>

  </tr>
<% end %>
</table>
