%h1
  New twitter account
- form_for(@account) do |f|
  = f.error_messages
  %div
    = f.label :username, "twitter account id"
    = f.text_field :username
  %div
    = f.submit 'Create twitter account'
